@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-size: 18px;
}
p {
    text-align: justify;
}

blockquote {
    border-left: 5px solid #FB923c;
    padding-left: 15px;
}

a {
    color: blue;
    text-decoration: underline;
}

section {
    margin-bottom: 100px;
}

#preview{
    background-image: url('/assets/img/banner.png');
    background-size:cover;
    height: 80vh;
}

.company-name {
    color: #FB923c;
    font-size: 20px;
    font-weight: bold;
}
.personal-project{
    width: 300px;
    height: 200px;
}

.project-tool-used {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.project-tool-used>li {
    color: white;
    font-size: 12px;
    background: gray;
    padding: 3px 10px 3px 10px;
    border-radius: 5px;
}

.card {
    border: 1px solid whitesmoke;
    border-radius: 10px;
    background-color: white;
}
.card>img{
    width: 100%;
}
.card>.card-content{
    padding: 20px;
}
.card>.card-content>p:nth-child(1){
    font-weight: bold;
    font-size: 18px;
}
.card>.card-content>ul{
    margin-top: 20px;
}